/* ************************************************************************************************************************************************* */
.title{
    font-size: 40px;
    /* text-transform: uppercase;1 */
    /* font-family: serif; */
    font-weight: bolder;
    

}
#drop{
    /* border-radius: 0px; */
}


@media (max-width: 450px){
    .title{
        font-size: 15px;
    }
}

/* ************************************************************************************************************************************************* */

/* ************************************************************************************************************************************************* */

/* ************************************************************************************************************************************************* */

/* ************************************************************************************************************************************************* */

/* ************************************************************************************************************************************************* */

/* ************************************************************************************************************************************************* */

/* ************************************************************************************************************************************************* */

/* ************************************************************************************************************************************************* */

/* ************************************************************************************************************************************************* */

/* ************************************************************************************************************************************************* */

/* ************************************************************************************************************************************************* */
/* ************************************************************************************************************************************************* */

/* ************************************************************************************************************************************************* */


