/* ************************************************************************************************************************************************* */
/* .title{
    font-size: 40px;
    /* text-transform: uppercase;1 */
    /* font-family: serif; */
    /* font-weight: bolder; */
    

/* } */
/* #drop{ */
    /* border-radius: 0px; */
/* } */


/* @media (max-width: 450px){
    .title{
        font-size: 15px;
    } */
/* } */

/* ************************************************************************************************************************************************* */
/* http://www.friends2support.org/imgs/landingpage/blood_drop_search.gif */
body{
    text-transform: capitalize;
}
.targetRegister{
    margin-top: 30px;
}
.intro-2 {
    background: url("../images/background-blood.jpg")no-repeat  center;
    background-size: cover ;
    background-attachment: fixed;
    background-color: #c00101;
}
@media(max-width:300px){
.targetImg {

    /* background: url("../images/background-blood.jpg")no-repeat  center; */
    /* background-size: auto  ; */
    /* height: 100%; */
    margin-bottom: 150px;
}
}
.top-nav-collapse {
    background-color: #c00101 !important;
}
@media (max-width: 420px){
.targetImg{
    height: 70%;
}
}
.navbar:not(.top-nav-collapse) {
    background: transparent !important;
}
@media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
    /* background-color: #c00101 !important; */
    background: #c00101 !important;
    }
}
.targetProfile{
    position: absolute;
    right: 10px;
    top: 7px;
    /* bottom: 20px; */

}
.btnProfile{
    visibility: hidden !important; 
    /* color: blue; */
}
.targetSignUp{
    margin-bottom: 0px;
}
@media(max-width: 450px){
    .targetProfile{
        position: absolute;
        right: 10px;
        top: 15px;
        bottom: 20px;
        
    }   
}
@media (max-width: 300px){
    .targetProfile{
    visibility:hidden;
}
.btnProfile {
    visibility: visible !important;
}

}


        /* background-color: blue; */
   


.hm-gradient .full-bg-img {
    background: -webkit-linear-gradient(45deg, rgba(255, 4, 4, 0.4), rgba(178, 30, 123, 0.4) 100%);
    background: -webkit-gradient(linear, 45deg, from(rgba(250, 3, 27, 0.4)), to(rgba(43, 1, 61, 0.4)));
    background: linear-gradient(to 45deg, rgba(29, 236, 197, 0.4), rgba(253, 19, 19, 0.4) 100%);
}
.card {
    background-color: rgba(229, 228, 255, 0.2);
}

 .md-form .prefix {
    font-size: 1.5rem;
    margin-top: 1rem;
}
.md-form label {
    color: #ffffff;
}
h6 {
    line-height: 1.7;
}
@media (max-width: 740px) {
    .full-height,
    .full-height body,
    .full-height header,
    .full-height header .view {
        height: 1040px;
    }
}
.targetGoogle{
margin-right: 10px;
    /* float: left; */
    /* margin-left: 2px; */
}
/* .targetGoogle{
    float: right;
} */

@media(max-width: 300px){

    #content{
        margin-top: 30px;   
    }
}
@media(max-width: 250px){

    #content{
        margin-top: 60px;   
    }


/* ****************************************************** */

.targetBtn{
    display: inline;
    text-decoration: none;
}
.btn-group-lg .btn, .btn-group-sm .btn {
    border-radius: 2px;
}
.targetAllBtn{
    text-align: center;
}
@media(max-width: 850px){
    .targetBtn{
        text-align: center;
    }
    .targetAllBtn{
        text-align: center;
    }
}